/*****************************************CSS Information**********************************************************************
**************** The coding for this stylesheet was created by ****************************************************************
**************** Jason Harris   ***************************************************************************************
**************** for the purpose of his Full Sail Project   ***********************************************************
**************** for the Web Standards Design class    ****************************************************************
********************************************************************************************************************************/

/*********************************************** Font Styles and colors *******************************************************/

@font-face {
	font-family: SuillylaTourDemo;
	src: url("../fonts/SuillylaTourDemo.ttf");
}

@font-face {
	font-family: LITTLELO;
	src: url("../fonts/LITTLELO.ttf");
}

h1 {
	font: 4em SuillylaTourDemo;
	color: #193d5c;
	margin: 0px;
	padding: 0px;
	width: 350px;
	float: left;
	overflow: hidden;
}

h2,h3,h4,h5,h6 {
	margin: 0px;
	background: #030e3c;
	color: #7991f9;
	font: 2em SuillylaTourDemo;
	padding: 10px;
	
}

/*********************************************** Body Styles and declarations *************************************************/

body {
	width: 1090px;
	margin: 0 auto 0 auto;
	padding: 0;
	line-height: 1em;
}

/*********************************************** List Styles ****************************************************/

li {
	list-style-type: none;
}

nav ul {
	display: inline-block;
	float: right;
	margin: 18px 10px 0px 10px;
	padding: 0px;
	width: 350px;
}

nav ul li {
	float: left;
	width: 100px;
}

a {
	font: 2em SuillylaTourDemo;
	color: #193d5c;
	text-decoration: none;
	padding: 0px;
}

a:active {
	background-color: #0b8bf7;
}

a:hover {
	background-color: #0c2a43;
	color: #e8eef4; 
}

aside #feature_list {
	margin: 0px;
	padding: 0px;
}

#feature_list ul {
	margin: 0px;
	padding: 0px;
	background: #b0f3f5;
	width: 1090px;
	float: left;
}

#feature_list ul li {
	float: left;
}

#bird {
	padding: 40px;
}

#la {
	padding: 65px;
}

aside #gallery img {
	margin: 10px;
	padding: 20px;
	width: 450px;
}

#arrangement {
	margin-right: 10px;
	float: left;
}

#gumbo {
	margin-right: 10px;
	float: left;
}

#shrimp {
	margin-left: 10px;
}

.button {
	display: inline-block;
	margin: 20px 280px;
	padding: 40px 60px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #09C;
	color: #9CF;
	font-family: LITTLELO;
	text-decoration: none;
	text-shadow: 0px 4px 2px #DCF;
	background: -moz-linear-gradient(#0CF, #06C, #0CF);
}

#food-list li{
	list-style-type: circle;
}

/************************************************* Main body section *********************************************************/

#mainSection {
	clear: both;
	padding: 10px 0px 5px 0px;
}

.paraFloat {
	margin: 0;
	padding: 10px 0px 5px 0px;
	width: 325px;
	float: left;
}

#hospitality {
	clear: left;
	margin: 0px;
	padding: 10px 0px 5px 0px;
}

#music {
	clear: left;
	padding: 10px 0px 5px 0px;
}

#singing {
	padding: 0px 0px 10px 0px;
}

/************************************************ Div for table and form *****************************************************/

div {
	width: 1090px;
	height: 600px;
	margin: 0px;
	padding: 10px;
	background: #b0f3f5;
}

/************************************************ Footer section *************************************************************/

footer {
	background: #030e3c;
	color: #b0f3f5;
}

#author {
	margin-left: 10px;
	padding: 5px;
}

#copy {
	float: right;
	margin-top: -35px;
	padding: 0 15px 0 0;
}


































